@model List<ArkCustomerManagement.Models.Customer>

@{
    ViewData["Title"] = "Customer List";
    var prevDisabled = ViewData["CurrentPage"] as int? <= 1 ? "disabled" : "";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="mt-4">
    <a asp-controller="Home" asp-action="CustomerForm" class="btn btn-primary mb-3">Add New Customer</a>

    <form asp-controller="Home" asp-action="CustomerList" method="get" class="form-inline mb-3">
        <div class="form-group mr-2">
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search by name or VAT number " />
        </div>
        <button type="button" class="btn btn-secondary">Search</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>
                    <a asp-action="CustomerList" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
                </th>
                <th>
                    <a asp-action="CustomerList" asp-route-sortOrder="@ViewData["AddressSortParm"]">Address</a>
                </th>
                <th>
                    <a asp-action="CustomerList" asp-route-sortOrder="@ViewData["ContactPersonNameSortParm"]">Contact Person</a>
                </th>
                <th>
                    <a asp-action="CustomerList" asp-route-sortOrder="@ViewData["ContactPersonEmailSortParm"]">Email</a>
                </th>
                <th>
                    <a asp-action="CustomerList" asp-route-sortOrder="@ViewData["VatSortParm"]">VAT</a>
                </th>
                <th>
                    <a asp-action="CustomerList" asp-route-sortOrder="@ViewData["TelephoneSortParm"]">Telephone</a>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                      <a asp-controler="Home" asp-action="CustomerForm" asp-route-id="@customer.CustomerId" class="btn btn-sm btn-secondary">Edit</a>
                    </td>
                    <td>@customer.Name</td>
                    <td>@customer.Address</td>
                    <td>@customer.ContactPersonName</td>
                    <td>@customer.ContactPersonEmail</td>
                    <td>@customer.Vat</td>
                    <td>@customer.TelephoneNumber</td>
                    <td>
                    <a asp-controller="Home" asp-action="DeleteCustomer" asp-route-id="@customer.CustomerId" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this customer?');">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var currentPage = ViewData["CurrentPage"] as int? ?? 1;
        var totalPages = ViewData["TotalPages"] as int? ?? 1;
        var searchString = ViewData["CurrentFilter"] as string;
        var sortOrder = ViewData["CurrentSort"] as string;
    }
    <div class="d-flex justify-content-between">
        Page @currentPage of @totalPages
     </div>
     <ul class="pagination>
        <li class="page-item @prevDisabled">
            <a  asp-action="CustomerList" 
                asp-route-pageNumber="@(currentPage - 1)" 
                asp-route-sortOrder="@sortOrder" 
                asp-route-searchString="@searchString" 
                class="page-link">Previous
            </a>
        </li>
        <li class="page-item @(currentPage >= totalPages ? "disabled" : "")">
            <a 
                asp-action="CustomerList" 
                asp-route-pageNumber="@(currentPage + 1)" 
                asp-route-sortOrder="@sortOrder" 
                asp-route-searchString="@searchString" 
                class="page-link">Next
            </a>
        </li>
     </ul>
    
</div>